.App {
  text-align: center;
}

.nav {
  font-size: 20px;
  display: flex;
  min-height: 95px;
  background-color: rgb(115, 190, 28);
}

.nav li {
  color: white;
  font-family: cursive;
}

.nav-links {
  font-size: 30px;
  width: auto;
  margin-right: 50px;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
}

.nav-links li:hover {
  background-color:rgb(0, 0, 0);
}

.attribute {
  position: absolute;
  bottom: 0;
  left: 5;
  right: 0;
}

.comics li {
  list-style-type: none;
  font-size: 20px;
}

.character li {
  list-style-type: none;
  font-size: 20px;
}

.stan {
  font-family: fantasy, sans-serif;
}